* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: coral;
}

h2 {
  margin-bottom: 20px;
}
p {
  margin: 20px 0;
}

header {
  background: coral;
  padding: 40px;

}
nav {
  background: #f7f9fa;
}
.main-menu {
  display: flex;
  align-items: center;
  padding: 20px 10px;
}
.main-menu li {
  padding-left: 15px;
}
.main-menu a {
  font-size: 20px;
}
.main {
  padding: 40px;
  display: flex;
  gap: 70px;
}
section {
  flex: 1; 
}
aside {
  width: 300px;
}

aside h3 {
  background: coral;
  padding: 10px;
  color: white;
}
aside li {
  background: #f7f9fa;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: #777;
}
